<div class="scr" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
  <mat-form-field fxFlex="1 1 100%">
    <input matInput placeholder="Search">
  </mat-form-field>
  <button mat-raised-button color="primary" routerLink="edit/new"><mat-icon>add</mat-icon>Create</button>
</div>
<mat-list>
  <h3 mat-subheader>Flow Group 1</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>timeline</mat-icon>
    <h4 mat-line>Flow 1</h4>
    <div mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <p fxFlex="1 1 100%">Description for Flow 1</p>
      <button mat-icon-button color="primary" routerLink="edit/flowid1" matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" routerLink="view/flowid1" matTooltip="View">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Download">
        <mat-icon>save_alt</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Start">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Stop">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>timeline</mat-icon>
    <h4 mat-line>Flow 2</h4>
    <div mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <p fxFlex="1 1 100%">Description for Flow 2</p>
      <button mat-icon-button color="primary" routerLink="edit/flowid2" matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" routerLink="view/flowid2" matTooltip="View">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Download">
        <mat-icon>save_alt</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Start">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Stop">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>timeline</mat-icon>
    <h4 mat-line>Flow 3</h4>
    <div mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <p fxFlex="1 1 100%">Description for Flow 3</p>
      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Download">
        <mat-icon>save_alt</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Start">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Stop">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Flow Group 2</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>timeline</mat-icon>
    <h4 mat-line>Flow 21</h4>
    <div mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <p fxFlex="1 1 100%">Description for Flow 21</p>
      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Download">
        <mat-icon>save_alt</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Start">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Stop">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>timeline</mat-icon>
    <h4 mat-line>Flow 22</h4>
    <div mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <p fxFlex="1 1 100%">Description for Flow 22</p>
      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Download">
        <mat-icon>save_alt</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Start">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Stop">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>